body{
   
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


  #sidebar, #content, #percentage{
    height: 800px;
    overflow:auto;
    float:left;
  }
  #percentage{
    background:rgb(238, 232, 232);
    width: 5%;
  }
    #sidebar {
        background:rgb(238, 232, 232);
        width: 30%;
      }

 #content {
    background:rgb(255, 255, 255);
    width: 65%;
      }
.paragraph{
  padding-left: 20%;
  font-weight: bold;
  font-weight: bold;
}     

   table, th, td {
    border: 1px solid black;
    font-weight: bold;
    padding: 8px;
      }   

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .contentparagraph1{
        padding-top: 15%;
        text-align: center;
        font-weight: bold;
      }  
      .contentparagraph2{
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
      }     
      .contentparagraph3{
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
      }        

      .resume{
        padding-top: 2%;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
      }  
      .portofolio{
        padding-top: 15%;
        text-align: center;
        font-weight: bold;
      }  
      .contact{
        padding-top: 3%;
        text-align: center;
        font-weight: bold;
      }  


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(175, 160, 160);
   color: white;
   text-align: center;
}      

div.aligngallery{
  padding-left: 35%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



.contactform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-left: 5%;
}

input[type=text], select, textarea {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(77, 156, 192);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.skills {  
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  background-color: rgb(211, 206, 206);
  padding-bottom: 5%;
  height: 250px;
}

.hardskills{
  flex:50%;
  text-align:center;
  font-weight: bold;
}

.Skillsshortdescription{
  flex:50%;
  text-align:center;
  font-weight: bold;
}
