* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color:rgb(236, 228, 228);
}

h1{
    text-align: center;
    padding:20px;
    border: 3px solid;
    border-color: rgb(58, 221, 213) rgb(0, 0, 0) rgb(219,26,74);
}

h2{
    text-align: center;
    padding:20px 20px 20px 20px;
    margin:30px 0px 30px;
}

h3{
    text-align: center;
    padding:20px;
    font-weight: bold;
}

p{
   font-family:  Arial, Helvetica, sans-serif; 
}

#grid-floats{
    float:left;
}  


#grid-floats .grid-item{
    float:left;
} 

#grid-flex{
    display: flex;
    flex-wrap: wrap;
}

.grid-item{
    border:3px solid;
    width: 25%;
    height:400px;
    padding: 0;
}

.grid-item img{
    width: 100px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom:20px;
}


@media only screen and (min-width: 1000px) {
  
 .grid-item:nth-child(1){
  width:50%;
  }
 .grid-item:nth-child(2){
  }
 .grid-item:nth-child(3){
  }
 .grid-item:nth-child(n+4){
  width:33.3333333333333333333333%;
  }
}

@media only screen and (max-width: 1000px) {
  
    .grid-item:nth-child(1){
     width:50%;
     }
    .grid-item:nth-child(2){
     width:50%;   
     }
    .grid-item:nth-child(n+3){
     width:33.3333333333333333333333%;
     }
}

   @media only screen and (max-width: 600px) {
  
    .grid-item:nth-child(1){
     width:100%;
     }
    .grid-item:nth-child(n+2){
     width:50%;
     }
}   

.grid-item:nth-child(1n+1){
    background-color:rgb(219, 26, 74); /*safety*/
}

.grid-item:nth-child(2n+2){
    background-color:rgb(58, 221, 213); /*safety*/
}


.grid-item:nth-child(1):hover {
    background-color: yellow;
    font-weight: bold;
    font-size: 25px;
}

.grid-item:nth-child(1) img:hover{
    width: 200px;
    height:auto;
}

.grid-item:nth-child(4):hover {
    background-color: rgb(255, 0, 200);
    font-weight: bold;
    font-size: 20px;
}

.grid-item:nth-child(4) img:hover{
    width: 200px;
    height:auto;
}


.grid-item:nth-child(6):hover {
    background-color: rgb(4, 103, 216);
    font-weight: bold;
    font-size: 20px;
}

.grid-item:nth-child(6) img:hover{
    width: 200px;
    height:auto;
}

.grid-item:nth-child(9):hover {
    background-color: rgb(51, 231, 6);
    font-weight: bold;
    font-size: 15px;
}

.grid-item:nth-child(9) img:hover{
    width: 200px;
    height:auto;
}

.grid-item:nth-child(10):hover {
    background-color: rgb(252, 122, 1);
    font-weight: bold;
    font-size: 15px;
}

.grid-item:nth-child(10) img:hover{
    width: 200px;
    height:auto;
}

.grid-item:nth-child(14):hover {
    background-color: rgb(255, 0, 140);
    font-weight: bold;
    font-size: 15px;
}

.grid-item:nth-child(14) img:hover{
    width: 200px;
    height:auto;
}
